Node-Red/flows.json
[{"id":"62b2adb0e24576eb","type":"tab","label":"Send message to WhatsApp","disabled":false,"info":"","env":[]},{"id":"dd89abde6fba61ab","type":"tab","label":"handleInfluxDB","disabled":false,"info":"","env":[]},{"id":"cfca9d70cb15e463","type":"tab","label":"Flux 1","disabled":false,"info":"","env":[]},{"id":"66e14510f944e5e3","type":"tab","label":"API endpoint","disabled":false,"info":"","env":[]},{"id":"4a74b351e9e41e26","type":"tls-config","name":"","cert":"","key":"","ca":"","certname":"","keyname":"","caname":"","servername":"","verifyservercert":true,"alpnprotocol":""},{"id":"5f708fd4e5be30e5","type":"mqtt-broker","name":"get data from HiveMq","broker":"02cdc5d9d4ac404fb86415fafc88aad9.s1.eu.hivemq.cloud","port":"8883","tls":"4a74b351e9e41e26","clientid":"686grz","autoConnect":true,"usetls":true,"protocolVersion":4,"keepalive":60,"cleansession":true,"autoUnsubscribe":true,"birthTopic":"","birthQos":"0","birthRetain":"false","birthPayload":"","birthMsg":{},"closeTopic":"","closeQos":"0","closeRetain":"false","closePayload":"","closeMsg":{},"willTopic":"","willQos":"0","willRetain":"false","willPayload":"","willMsg":{},"userProps":"","sessionExpiry":""},{"id":"81bced79e6af1598","type":"mqtt-broker","z":"cfca9d70cb15e463","name":"","broker":"broker.hivemq.com","port":1883,"clientid":"","autoConnect":true,"usetls":false,"protocolVersion":4,"keepalive":"120","cleansession":true,"autoUnsubscribe":true,"birthTopic":"","birthQos":"0","birthRetain":"false","birthPayload":"","birthMsg":{},"closeTopic":"","closeQos":"0","closeRetain":"false","closePayload":"","closeMsg":{},"willTopic":"","willQos":"0","willRetain":"false","willPayload":"","willMsg":{},"userProps":"","sessionExpiry":""},{"id":"mqtt_broker","type":"mqtt-broker","name":"HiveMQ Broker","broker":"broker.hivemq.com","port":"1883","tls":"","clientid":"","autoConnect":true,"usetls":false,"protocolVersion":"4","keepalive":"60","cleansession":true,"autoUnsubscribe":true,"birthTopic":"","birthQos":"0","birthPayload":"","birthMsg":{},"closeTopic":"","closeQos":"0","closePayload":"","closeMsg":{},"willTopic":"","willQos":"0","willPayload":"","willMsg":{},"userProps":"","sessionExpiry":""},{"id":"be7c4584576c403f","type":"node-red-contrib-whatsapp-cmb-account","name":"ilyas"},{"id":"35e24f1a611c0480","type":"influxdb","hostname":"127.0.0.1","port":8086,"protocol":"http","database":"database","name":"esp32_data","usetls":false,"tls":"","influxdbVersion":"2.0","url":"https://us-east-1-1.aws.cloud2.influxdata.com/","timeout":10,"rejectUnauthorized":true},{"id":"e7323ecd839b10eb","type":"ui-theme","name":"Default Theme","colors":{"surface":"#ffffff","primary":"#0094CE","bgPage":"#eeeeee","groupBg":"#ffffff","groupOutline":"#cccccc"},"sizes":{"density":"default","pagePadding":"12px","groupGap":"12px","groupBorderRadius":"4px","widgetGap":"12px"}},{"id":"92209ec402ae588e","type":"ui-base","name":"My Dashboard","path":"/dashboard","appIcon":"","includeClientData":true,"acceptsClientConfig":["ui-notification","ui-control"],"showPathInSidebar":false,"headerContent":"page","navigationStyle":"default","titleBarStyle":"default","showReconnectNotification":true,"notificationDisplayTime":1,"showDisconnectNotification":true,"allowInstall":false},{"id":"76cb0c567249650b","type":"ui-page","name":"Home","ui":"92209ec402ae588e","path":"/home","icon":"home","layout":"grid","theme":"e7323ecd839b10eb","breakpoints":[{"name":"Default","px":"0","cols":"3"},{"name":"Tablet","px":"576","cols":"6"},{"name":"Small Desktop","px":"768","cols":"9"},{"name":"Desktop","px":"1024","cols":"12"}],"order":1,"className":"","visible":true,"disabled":false},{"id":"e4cafe1f571529c2","type":"ui-group","name":"Motion & Gas","page":"76cb0c567249650b","width":6,"height":1,"order":2,"showTitle":true,"className":"","visible":"true","disabled":"false","groupType":"default"},{"id":"b76a015c3b0b41ff","type":"ui-group","name":"Humidity & Temp","page":"76cb0c567249650b","width":6,"height":1,"order":1,"showTitle":true,"className":"","visible":"true","disabled":"false","groupType":"default"},{"id":"a77773a419fbc68c","type":"ui-group","name":"Control LEDs","page":"76cb0c567249650b","width":6,"height":1,"order":3,"showTitle":true,"className":"","visible":"true","disabled":"false","groupType":"default"},{"id":"77c72ff5853020c1","type":"ui-group","name":"Control Panel","page":"76cb0c567249650b","width":6,"height":1,"order":4,"showTitle":true,"className":"","visible":"true","disabled":"false","groupType":"default"},{"id":"fb2a916a4fa1e0b8","type":"mqtt in","z":"62b2adb0e24576eb","name":"","topic":"esp32/data","qos":"1","datatype":"auto-detect","broker":"5f708fd4e5be30e5","nl":false,"rap":true,"rh":0,"inputs":0,"x":200,"y":240,"wires":[["85918bc2d37af2e6"]]},{"id":"644f22a2b114c156","type":"debug","z":"62b2adb0e24576eb","name":"debug 2","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"payload","targetType":"msg","statusVal":"","statusType":"auto","x":840,"y":240,"wires":[]},{"id":"85918bc2d37af2e6","type":"function","z":"62b2adb0e24576eb","name":"function 1","func":"let data = msg.payload;\n\n//  Récupération des données reçues\nlet t = data.temperature;\nlet h = data.humidity;\nlet m = data.motion;\nlet g = data.gas;\n\n//  Récupération des anciennes valeurs\nlet prev = flow.get(\"prevData\") || {};\n\n//  Variables de contrôle\nlet send = false;\nlet messageParts = [];\n\n//  Seuils de détection\nlet seuilTemp = 20;  // température trop élevée\nlet seuilHum = 80;   // humidité trop élevée\n\n//  Température dépasse le seuil\nif (t !== undefined && t > seuilTemp && (prev.temperature !== t)) {\n    messageParts.push(\"🚨 Température élevée : \" + t + \"°C\");\n    send = true;\n}\n\n//  Humidité dépasse le seuil\nif (h !== undefined && h > seuilHum && (prev.humidity !== h)) {\n    messageParts.push(\"💧 Humidité élevée : \" + h + \"%\");\n    send = true;\n}\n\n//  Mouvement détecté (ou changement d’état)\nif (m !== undefined && prev.motion !== m && m === true) {\n    messageParts.push(\"🚶 Mouvement détecté !\");\n    send = true;\n}\n\n//  Gaz détecté (ou changement d’état)\nif (g !== undefined && prev.gas !== g && g === true) {\n    messageParts.push(\"🔥 Alerte gaz détectée !\");\n    send = true;\n}\n\n//  Sauvegarde des valeurs pour la prochaine comparaison\nflow.set(\"prevData\", { temperature: t, humidity: h, motion: m, gas: g });\n\n//  Envoi du message uniquement si alerte détectée\nif (send) {\n    msg.payload = messageParts.join(\"\\n\");\n    let encodedText = encodeURIComponent(msg.payload);\n    return msg;\n} else {\n    //  Rien d'anormal → ne rien envoyer\n    return null;\n}\n","outputs":1,"timeout":0,"noerr":0,"initialize":"","finalize":"","libs":[],"x":580,"y":140,"wires":[["1a3743fecfb7e6d4"]]},{"id":"1a3743fecfb7e6d4","type":"node-red-contrib-whatsapp-cmb-send-message","z":"62b2adb0e24576eb","name":"","credtype":"account","account":"be7c4584576c403f","text":"payload","phonenumbervalue":"","apikeyvalue":"","apikeyinputtypemessage":"msg","phonenumberinputtypemessage":"msg","inputtypemessage":"msg","rejectssl":false,"x":560,"y":240,"wires":[["644f22a2b114c156"]]},{"id":"8ffc44e765efae35","type":"mqtt in","z":"dd89abde6fba61ab","name":"","topic":"esp32/data","qos":"0","datatype":"auto-detect","broker":"5f708fd4e5be30e5","nl":false,"rap":true,"rh":0,"inputs":0,"x":220,"y":240,"wires":[["c7ef74359daca251"]]},{"id":"c7ef74359daca251","type":"function","z":"dd89abde6fba61ab","name":" data","func":"const d = msg.payload;\n\n\nmsg.measurement = \"esp32_metrics\";\n\n\nfunction parseBool(value) {\n  if (typeof value === 'boolean') return value; \n  if (typeof value === 'string') {\n    const val = value.toLowerCase().trim();\n    if (['true', '1', 'on', 'yes'].includes(val)) return true;\n    if (['false', '0', 'off', 'no'].includes(val)) return false;\n  }\n  return null; \n}\n\n// Parse fields for InfluxDB\nmsg.payload = {\n  temperature: parseFloat(d.temperature),\n  humidity: parseFloat(d.humidity),\n  motion: parseBool(d.motion),\n  servo: parseInt(d.servo),\n  gas: parseInt(d.gas),\n  green: parseBool(d.green),\n  blue: parseBool(d.blue),\n  rainDetected : parseInt(d.rainDetected),\n  fan: parseBool(d.fan)\n\n};\n\n\nmsg.tags = {\n  device: d.clientId\n};\n\nreturn msg;","outputs":1,"timeout":0,"noerr":0,"initialize":"","finalize":"","libs":[],"x":490,"y":240,"wires":[["53f58558ccb24849","af9883af9e3bbdd6"]]},{"id":"af9883af9e3bbdd6","type":"debug","z":"dd89abde6fba61ab","name":"debug 3","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"payload","targetType":"msg","statusVal":"","statusType":"auto","x":570,"y":320,"wires":[]},{"id":"53f58558ccb24849","type":"influxdb out","z":"dd89abde6fba61ab","influxdb":"35e24f1a611c0480","name":"influxDB out","measurement":"esp32_metrics","precision":"","retentionPolicy":"","database":"database","precisionV18FluxV20":"s","retentionPolicyV18Flux":"","org":"smartHome","bucket":"esp32_data","x":790,"y":240,"wires":[]},{"id":"671fafac268a6d0d","type":"mqtt in","z":"dd89abde6fba61ab","name":"","topic":"esp32/stats","qos":"0","datatype":"auto-detect","broker":"5f708fd4e5be30e5","nl":false,"rap":true,"rh":0,"inputs":0,"x":230,"y":520,"wires":[["eea9f8ccd3c0a87b"]]},{"id":"eea9f8ccd3c0a87b","type":"function","z":"dd89abde6fba61ab","name":"parse metrics","func":"const d = msg.payload;\n\n\nmsg.measurement = \"esp32_stats\";\n\nmsg.tags = {\n  device: d.clientId\n};\n\n// Parse fields for InfluxDB\nmsg.payload = {\n  freeHeap: parseInt(d.freeHeap),\n  minFreeHeap: parseInt(d.minFreeHeap),\n  maxAllocHeap: parseInt(d.maxAllocHeap),\n  cpuFreqMHz: parseInt(d.cpuFreqMHz),\n  uptimeMs: parseInt(d.uptimeMs),\n  chipTempC: parseFloat(d.chipTempC)\n    \n};\n\n\n\n\nreturn msg;","outputs":1,"timeout":0,"noerr":0,"initialize":"","finalize":"","libs":[],"x":520,"y":520,"wires":[["df837a3822a1463b","68b5f57717956acb"]]},{"id":"68b5f57717956acb","type":"debug","z":"dd89abde6fba61ab","name":"debug 8","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"payload","targetType":"msg","statusVal":"","statusType":"auto","x":570,"y":600,"wires":[]},{"id":"df837a3822a1463b","type":"influxdb out","z":"dd89abde6fba61ab","influxdb":"35e24f1a611c0480","name":"influxDB out","measurement":"esp32_stats","precision":"","retentionPolicy":"","database":"database","precisionV18FluxV20":"s","retentionPolicyV18Flux":"","org":"smartHome","bucket":"esp32_data","x":790,"y":520,"wires":[]},{"id":"5208f55fdb54fad0","type":"mqtt in","z":"cfca9d70cb15e463","name":"","topic":"esp32/data","qos":"0","datatype":"auto-detect","broker":"81bced79e6af1598","nl":false,"rap":true,"rh":0,"inputs":0,"x":260,"y":220,"wires":[["33b5c53240c05f49"]]},{"id":"33b5c53240c05f49","type":"json","z":"cfca9d70cb15e463","name":"","property":"payload","action":"obj","pretty":false,"x":410,"y":280,"wires":[["91e131659ef98240","15b41c35ba97fdbc"]]},{"id":"91e131659ef98240","type":"function","z":"cfca9d70cb15e463","name":"extract humidity","func":"let data = msg.payload; // assuming JSON node already parsed it\n\nlet humMsg = { payload: data.Humidite };\n\n\n// Return as array for multiple outputs\nreturn humMsg;","outputs":1,"timeout":0,"noerr":0,"initialize":"","finalize":"","libs":[],"x":580,"y":200,"wires":[["f8eb53cfc083a5b8","db04ae7dcb188054"]]},{"id":"15b41c35ba97fdbc","type":"function","z":"cfca9d70cb15e463","name":"extract temp","func":"let data = msg.payload; // assuming JSON node already parsed it\n\nlet tempMsg = { payload: data.Temperature };\n\n\n// Return as array for multiple outputs\nreturn tempMsg;","outputs":1,"timeout":0,"noerr":0,"initialize":"","finalize":"","libs":[],"x":570,"y":280,"wires":[["607343c2ecbb896e"]]},{"id":"f8eb53cfc083a5b8","type":"debug","z":"cfca9d70cb15e463","name":"debug 1","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"false","statusVal":"","statusType":"auto","x":780,"y":120,"wires":[]},{"id":"93075561b35d324d","type":"debug","z":"cfca9d70cb15e463","name":"debug 4","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"false","statusVal":"","statusType":"auto","x":440,"y":480,"wires":[]},{"id":"c853a3779123bf6e","type":"mqtt out","z":"cfca9d70cb15e463","name":"","topic":"esp32/chat","qos":"","retain":"","respTopic":"","contentType":"","userProps":"","correl":"","expiry":"","broker":"81bced79e6af1598","x":650,"y":560,"wires":[]},{"id":"3242b65e2d891cbc","type":"debug","z":"cfca9d70cb15e463","name":"debug 5","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"false","statusVal":"","statusType":"auto","x":440,"y":640,"wires":[]},{"id":"f403446a4c9f13f2","type":"function","z":"cfca9d70cb15e463","name":"function 3","func":"msg.payload=\"servo:\"+msg.payload;\nreturn  msg;","outputs":1,"timeout":0,"noerr":0,"initialize":"","finalize":"","libs":[],"x":440,"y":700,"wires":[["3242b65e2d891cbc","c853a3779123bf6e"]]},{"id":"1baf42caded6eadc","type":"ui-button","z":"cfca9d70cb15e463","group":"77c72ff5853020c1","name":"LED1","label":"LED 1","order":3,"width":"3","height":"1","emulateClick":false,"tooltip":"","color":"","bgcolor":"","className":"","icon":"led-on","iconPosition":"left","payload":"1","payloadType":"num","topic":"topic","topicType":"msg","buttonColor":"","textColor":"","iconColor":"","enableClick":true,"enablePointerdown":false,"pointerdownPayload":"1","pointerdownPayloadType":"num","enablePointerup":false,"pointerupPayload":"1","pointerupPayloadType":"str","x":270,"y":480,"wires":[["93075561b35d324d","c853a3779123bf6e"]]},{"id":"a3ac740868bce7b6","type":"ui-button","z":"cfca9d70cb15e463","group":"77c72ff5853020c1","name":"LED2","label":"LED 2","order":4,"width":"3","height":"1","emulateClick":false,"tooltip":"","color":"","bgcolor":"","className":"","icon":"led-on","iconPosition":"left","payload":"2","payloadType":"num","topic":"topic","topicType":"msg","buttonColor":"green","textColor":"","iconColor":"","enableClick":true,"enablePointerdown":false,"pointerdownPayload":"1","pointerdownPayloadType":"num","enablePointerup":false,"pointerupPayload":"1","pointerupPayloadType":"str","x":270,"y":560,"wires":[["c853a3779123bf6e"]]},{"id":"81190a88f9aec2ab","type":"ui-slider","z":"cfca9d70cb15e463","group":"77c72ff5853020c1","name":"Servo","label":"Servo","tooltip":"","order":5,"width":"0","height":"0","passthru":false,"outs":"all","topic":"payload","topicType":"msg","thumbLabel":"true","showTicks":"always","min":0,"max":"180","step":1,"className":"","iconPrepend":"minus","iconAppend":"plus","color":"blue","colorTrack":"gray","colorThumb":"","showTextField":false,"x":250,"y":640,"wires":[["f403446a4c9f13f2"]]},{"id":"db04ae7dcb188054","type":"ui-chart","z":"cfca9d70cb15e463","group":"77c72ff5853020c1","name":"Hum","label":"Humidity","order":2,"chartType":"line","category":"","categoryType":"none","xAxisLabel":"Time","xAxisProperty":"","xAxisPropertyType":"timestamp","xAxisType":"time","xAxisFormat":"","xAxisFormatType":"{HH}:{mm}","xmin":"","xmax":"","yAxisLabel":"% Humidity","yAxisProperty":"payload","yAxisPropertyType":"msg","ymin":"0","ymax":"100","bins":10,"action":"append","stackSeries":false,"pointShape":"circle","pointRadius":4,"showLegend":true,"removeOlder":"10","removeOlderUnit":"60","removeOlderPoints":"","colors":["#0095ff","#ff0000","#ff7f0e","#2ca02c","#a347e1","#d62728","#ff9896","#9467bd","#c5b0d5"],"textColor":["#666666"],"textColorDefault":true,"gridColor":["#e5e5e5"],"gridColorDefault":true,"width":"3","height":"5","className":"","interpolation":"linear","x":790,"y":200,"wires":[[]]},{"id":"607343c2ecbb896e","type":"ui-chart","z":"cfca9d70cb15e463","group":"77c72ff5853020c1","name":"Temp","label":"Temperature","order":1,"chartType":"line","category":"","categoryType":"none","xAxisLabel":"Time","xAxisProperty":"","xAxisPropertyType":"timestamp","xAxisType":"time","xAxisFormat":"","xAxisFormatType":"{HH}:{mm}","xmin":"","xmax":"","yAxisLabel":"°C Temperature","yAxisProperty":"payload","yAxisPropertyType":"msg","ymin":"-40","ymax":"80","bins":10,"action":"append","stackSeries":false,"pointShape":"circle","pointRadius":4,"showLegend":true,"removeOlder":"10","removeOlderUnit":"60","removeOlderPoints":"","colors":["#0095ff","#ff0000","#ff7f0e","#2ca02c","#a347e1","#d62728","#ff9896","#9467bd","#c5b0d5"],"textColor":["#d62728"],"textColorDefault":true,"gridColor":["#d62728"],"gridColorDefault":true,"width":"3","height":"5","className":"","interpolation":"linear","x":790,"y":280,"wires":[[]]},{"id":"e6f466fe981fa3b4","type":"http in","z":"66e14510f944e5e3","name":"get data from DB","url":"/api/data","method":"get","upload":false,"skipBodyParsing":false,"swaggerDoc":"","x":180,"y":200,"wires":[["e59550e3495d3d85"]]},{"id":"8d65e18a639ad0a6","type":"function","z":"66e14510f944e5e3","name":"function 4","func":"// Object to group rows by timestamp\nlet grouped = {};\n\n// Loop through all rows from InfluxDB\nmsg.payload.forEach(item => {\n    let time = item._time;\n\n    // If this timestamp doesn't exist yet, create an object\n    if (!grouped[time]) {\n        grouped[time] = { time: time };\n    }\n\n    // Add the field and value to the object\n    grouped[time][item._field] = item._value;\n});\n\n// Convert the grouped object into an array\nmsg.payload = Object.values(grouped);\n\nreturn msg;\n","outputs":1,"timeout":0,"noerr":0,"initialize":"","finalize":"","libs":[],"x":620,"y":200,"wires":[["52c1634509a931f3","20744fdfaf9545ca"]]},{"id":"52c1634509a931f3","type":"http response","z":"66e14510f944e5e3","name":"","statusCode":"","headers":{},"x":770,"y":200,"wires":[]},{"id":"20744fdfaf9545ca","type":"debug","z":"66e14510f944e5e3","name":"debug 6","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"payload","targetType":"msg","statusVal":"","statusType":"auto","x":780,"y":300,"wires":[]},{"id":"90a81ef1a058ab6a","type":"http in","z":"66e14510f944e5e3","name":"Post data to DB","url":"/api/controlle","method":"post","upload":false,"skipBodyParsing":false,"swaggerDoc":"","x":200,"y":540,"wires":[["777f02829520508c"]]},{"id":"777f02829520508c","type":"function","z":"66e14510f944e5e3","name":"function 5","func":"// Parse the incoming JSON body\nconst device = msg.payload.device;\nconst state = msg.payload.state;\n\n// Prepare the MQTT message\nmsg.topic = \"esp32/control\";\nmsg.payload = { device, state }; // JSON object\n\nreturn msg;","outputs":1,"timeout":0,"noerr":0,"initialize":"","finalize":"","libs":[],"x":400,"y":540,"wires":[["14c398978162e9fd","02cfe719b5d409d0","9e7385dc8043a759"]]},{"id":"02cfe719b5d409d0","type":"mqtt out","z":"66e14510f944e5e3","name":"post in mqtt","topic":"","qos":"","retain":"","respTopic":"","contentType":"","userProps":"","correl":"","expiry":"","broker":"5f708fd4e5be30e5","x":690,"y":440,"wires":[]},{"id":"14c398978162e9fd","type":"http response","z":"66e14510f944e5e3","name":"","statusCode":"","headers":{},"x":750,"y":540,"wires":[]},{"id":"9e7385dc8043a759","type":"debug","z":"66e14510f944e5e3","name":"debug 7","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"false","statusVal":"","statusType":"auto","x":620,"y":600,"wires":[]},{"id":"e59550e3495d3d85","type":"influxdb in","z":"66e14510f944e5e3","influxdb":"35e24f1a611c0480","name":"","query":"from(bucket:\"esp32_data\")\n  |> range(start: -30d)\n  |> filter(fn: (r) => r._measurement == \"esp32_metrics\")\n","rawOutput":false,"precision":"","retentionPolicy":"","org":"smartHome","x":410,"y":200,"wires":[["8d65e18a639ad0a6"]]},{"id":"d5c20b92b3d5f1e9","type":"global-config","env":[],"modules":{"node-red-contrib-whatsapp-cmb":"1.0.3","node-red-contrib-influxdb":"0.7.0","@flowfuse/node-red-dashboard":"1.29.0"}}]